version: "3.8"

services:
  backend:
    build: ./backend
    container_name: my_app_backend
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: my_app_frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
